---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { footer_content, copyright } = config.params;
---

<footer class=" bg-light pb-0">
  <div class="container copyright">
      <p class="text-base text-center" set:html={markdownify(copyright)} />
  </div>
</footer>
